<ion-content class="corpoHome">

    <div class="fundo">
        <div class="cont">
            <ion-row style="margin-bottom: 50px;">
                <ion-col>
                    <img class="logo" src="../../../assets/logopada.png" alt="Logo KiBeleza" />
                </ion-col>
            </ion-row>
            <ion-row>
                
            </ion-row>
            <ion-item class="item-native">
                <ion-input type="email" placeholder="Email:" autofocus="true" [(ngModel)]="email" inputmode="email"
                    required="true"></ion-input>
            </ion-item>
            <!-- FIM EMAIL -->
            <ion-item class="item-native">
                <ion-input type="password" placeholder="Senha: " [(ngModel)]="senha"></ion-input>
            </ion-item>
            <!-- FIM SENHA -->

            <button class="btn" (click)="logar()">Entrar</button>
            <a style="    font-size: 14px;
            position: relative;
            left: -34%;
            top: 9px;
            color: #e6e2e2;" href="/tabs/pg/Cadastro"> Cadastro</a>

        </div>
    </div>
</ion-content>