<ion-content class="corpoHome">

  <div class="fundo">
    <div class="cont">
      <ion-row style="    margin-bottom: 45px;">
        <ion-col>
          <img class="logo" src="../../../assets/logopada.png" alt="Logo KiBeleza" />
        </ion-col>
      </ion-row>
      <form [formGroup]="cadastro" (ngSubmit)="cadCadastro()">
        <ion-item class="input-cad">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input [(ngModel)]="nome" type="name" placeholder="nome" inputmode="text" formControlName="nome" id="teste">
          </ion-input>
        </ion-item>

        <ion-item class="input-cad">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-input [(ngModel)]="email" type="email" placeholder="Email" inputmode="email" formControlName="email">
          </ion-input>
        </ion-item>

        <ion-item class="input-cad">
          <ion-icon name="lock" slot="start"></ion-icon>
          <ion-input [(ngModel)]="senha" type="password" placeholder="Senha" inputmode="senha" formControlName="senha">
          </ion-input>
        </ion-item>
        <ion-button style="  --background: #292929;" type="submit">Criar</ion-button>
      </form>
    </div>
  </div>
</ion-content>