.corpoHome {
  --background: #fff url("../../../assets/bg-perfil.png") no-repeat center center / cover;
    text-align: center;
  }
.logo {
  width: 70%;
}
.alinhalogo{
  text-align: center;
  margin-bottom: 5%;

}
.fundo{
  width: 100%;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
}

.cont{
  display: flex;
  margin-right: 17%;
  margin-left: 17%;
  height: 100%;
  background-color: #943939;
  flex-direction: column;
  justify-content: center;
}

.btn{
  border-radius: 4px;
  height: 5%;
  width: 38%;
  margin-left: 4%;
  font-size: 11px;
  background-color: #e6e2e2;
}
