.corpoHome {
  --background: #fff url("../../../assets/bg-home.png") no-repeat center center / cover;
}
.logo {
  width: 50%;
}

.redeSocial img {
  width: 50%;
}

.alinhalogo{
  text-align: center;
  margin-bottom: 5%;
  
}
.ajustegrid{
  padding: 0px;
  font-family: 'Gayathri', sans-serif;
}
.titulo{
  margin-top: -1px;
  font-size: 1em;
} 


.preco{
  margin-top: -3px;
  font-size: 0.9em;
} 

.imgajuste{
  width: 90%;
  border-radius: 10px;
}
.md {
  margin-top: 10px;
}
.back{
  position: relative;
  padding: 2%;
  background-color: #ffffffbd;
}

.Encomendar{
  font-size: 0.9em;
    position: absolute;
    bottom: 8px;
    right: 33%;
}