<ion-content class="corpoHome">
  <ion-grid class="alinhalogo">
    <ion-row>
      <ion-col>
        <img class="logo" src="../../../assets/logopada.png" alt="Logo KiBeleza" />
      </ion-col>
    </ion-row>
    <h1>Destaques</h1>
  </ion-grid>
  <ion-grid class="ajustegrid">
    <ion-row class="back">
      <ion-col size="4">
        <img class="imgajuste" src="../../../assets/lancheEx.png">
      </ion-col>
      <ion-col size="4">
        <h1 class="titulo">Loren ipsun</h1>
        <h2 class="preco">R$ 3,2</h2>
      </ion-col>
      <ion-col size="4">
      </ion-col>

      <ion-col size="4" class="Encomendar">
        <a href="">Encomendar</a>
      </ion-col>
    </ion-row>
    <ion-row class="back">
      <ion-col size="4">
        <img class="imgajuste" src="../../../assets/lancheEx.png">
      </ion-col>
      <ion-col size="4">
        <h1 class="titulo">Loren ipsun</h1>
        <h2 class="preco">R$ 3,2</h2>
      </ion-col>
      <ion-col size="4">
      </ion-col>

      <ion-col size="4" class="Encomendar">
        <a href="">Encomendar</a>
      </ion-col>
    </ion-row>
    <ion-row class="back">
      <ion-col size="4">
        <img class="imgajuste" src="../../../assets/lancheEx.png">
      </ion-col>
      <ion-col size="4">
        <h1 class="titulo">Loren ipsun</h1>
        <h2 class="preco">R$ 3,2</h2>
      </ion-col>
      <ion-col size="4">
      </ion-col>

      <ion-col size="4" class="Encomendar">
        <a href="">Encomendar</a>
      </ion-col>
    </ion-row>
    <ion-row class="back">
      <ion-col size="4">
        <img class="imgajuste" src="../../../assets/lancheEx.png">
      </ion-col>
      <ion-col size="4">
        <h1 class="titulo">Loren ipsun</h1>
        <h2 class="preco">R$ 3,2</h2>
      </ion-col>
      <ion-col size="4">
      </ion-col>

      <ion-col size="4" class="Encomendar">
        <a href="">Encomendar</a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>