<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="star-half"></ion-icon>
            <ion-label>Destaques</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="lista-servico">
            <ion-icon name="pizza"></ion-icon>
            <ion-label>Produtos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="login">
            <ion-icon name="person"></ion-icon>
            <ion-label>Login</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
