<ion-header></ion-header>

<ion-content class="corpoHome ">

    <ion-grid class="alinhalogo">
        <ion-row>
            <ion-col>
                <img class="logo" src="../../../assets/logopada.png" alt="Logo KiBeleza" />
            </ion-col>
        </ion-row>
        <h1 style="text-align: center">Serviços</h1>
    </ion-grid>
    <ion-searchbar showCancelButton="never">
        <ion-select class="filtro" okText="Escolher" cancelText="Cancelar">
            <ion-select-option value="brown">Salgado</ion-select-option>
            <ion-select-option value="blonde">Doce</ion-select-option>
        </ion-select>
    </ion-searchbar>

    <ion-grid class="ajustegrid">
        <ion-row class="back" *ngFor="let servico of servicos">
            <ion-col class="titulolan">
                <h2 style="    font-size: 1em;
                    margin-top: 0px;">{{servico.nome}}</h2>
            </ion-col>
            <img style="width: 100%;" [src]="servidorUrl.pegarUrl()+servico.foto">
            <ion-col style="    position: absolute;bottom: 0;">
                <a href="#">
                    Encomendar
                </a>
                
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-card-header style="padding-top: 0px;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;">
            <img src="../../../assets/lanchepagina4croi.png" alt="Logo KiBeleza">
            <ion-card-subtitle style="margin-left: 16px;">Segunda-Feira</ion-card-subtitle>
            <ion-card-title style="margin-left: 16px;">Arroz Feijão e batata</ion-card-title>
        </ion-card-header>

        <ion-card-content style="margin-top:0px">
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
    

</ion-content>