.corpoHome {
  
}
.logo {
  width: 50%;
}

.redeSocial img {
  width: 50%;
}

.alinhalogo{
  text-align: center;
  margin-bottom: 5%;
  
}
.ajustegrid{
  padding: 0px;
  font-family: 'Gayathri', sans-serif;
}
.titulo{
  margin-top: -1px;
  font-size: 1em;
} 


.preco{
  margin-top: -3px;
  font-size: 0.9em;
} 

.imgajuste{
  width: 100%;
}
.md {
  margin-top: 10px;
}
.back{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
    position: relative;
    padding: 2%;
    background-color: #f7f4f46e;
    margin: 2%;
}

.Encomendar{
  font-size: 0.9em;
    position: absolute;
    bottom: 8px;
    right: 33%;
}

.filtro{
  background-image: url(../../../assets/filter.png);
  position: absolute;
  background-color: #ecc474;
  padding-left: 6%;
  padding-right: 1%;
  top: -2px;
  right: 18.3%;
  height: 44px;
  width: 7%;
  border: black 1px solid;
  border-radius: 0px 10px 10px 0px;
  background-position: center;
  background-size: 58%;
  background-repeat: no-repeat;
}

.titulolan{
  position: absolute;
  font-size: 1em;
}