/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css?family=Gayathri:100,400,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap&subset=malayalam');

.titulo{
    font-weight: 500;
    margin-top: 20px;
    font-size:1em;
    font-family: 'Montserrat', sans-serif;
}
.searchbar-input.sc-ion-searchbar-md {
    border-radius: 13px 0px 0px 13px;
    border: black 1px solid;
    -webkit-padding-start: 13px;
    padding-inline-start: 13px;
    -webkit-padding-end: 35px;
    padding-inline-end: 35px;
}
.sc-ion-searchbar-md-h {
    margin-left: 5%;
}
.searchbar-input-container.sc-ion-searchbar-md {

    width: 65%;
}
.searchbar-input.sc-ion-searchbar-md {
    padding-inline-start: 13px;
    padding-inline-end: 35px;
}

.searchbar-cancel-button.sc-ion-searchbar-md, .searchbar-search-icon.sc-ion-searchbar-md {
    background-color: #ecc474;
    padding-left: 1%;
    padding-right: 1%;
    top: 0px;
    right: -15%;
    height: 42px;
    width: 13%;
    position: absolute;
    left: auto;
    border: black 1px solid;
}

.searchbar-input.sc-ion-searchbar-md {
    box-shadow: none;
}

.header-md:after {
 display: none;
}

*{
    text-decoration: none;

}

a{
    color: black;
}

.select-icon-inner{
    display: none;
}

div.select-icon-inner{
    text-indent: 3000;
    color: aquamarine;
}

.item-native{
    --background: none;
    border: #928282 3px solid;
    width: 91%;
    margin-left: 5%;
    border-radius: 5px;
    background: none;
    margin-bottom: 20px;
}

.input-cad{
    --background: none;
    border: #928282 3px solid;
    width: 91%;
    margin-left: 5%;
    border-radius: 5px;
    background: none;
    margin-bottom: 20px;

}