.corpoHome {
  --background: #fff url("../../../assets/bg-home.png") no-repeat center center / cover;
}
.logo {
  width: 50%;
}
ion-row {
  margin: 5% 0;
}
.redeSocial img {
  width: 50%;
}

.alinhalogo {
  text-align: center;
  margin-bottom: 5%;
}

.ajustegrid {
  background-color: #ffffffbd;
}

.titulo {
  margin-top: -1px;
  font-size: 1.1em;
}

.preco {
  margin-top: -3px;
  font-size: 0.9em;
}

.sc-ion-searchbar-md-h {
  border-top-left-radius: 55px;
}

.borda {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
// .searchbar-input{
//   border-radius: 17px 0px 0px 17px;
// }
